*{
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	padding: 10px 20px;
	background-color: #f1f1f1;
}
#head{
	width: 100%;
	padding: 30px 40px;
	color: #d93025;
	text-transform: capitalize;
	font-size: 20px;
	border-bottom: 0.5px solid rgba(0,0,0,0.15);
}
#container{
	width: 100%;
	padding: 60px 30px; 
}
#content{
	width: 100%;
}
.courser{
	width: 100%;
	padding: 10px 20px;
}
.label{
	display: inline-block;
	width: 15%;
	height: 30px;
	margin: 10px;
}
input{
	width: 28%;
	height: 29px;
	border: 1px solid #c9c9c9;
	outline: none;
	border-radius: 5px;
}
.labels{
	font-size: 14px;
	margin-left: 20px;
}
@media screen and (max-width: 1200px){
	.labels{
		display: none;
	}
}
input[type="submit"]{
	color: white;
	font-size: 14px;
	background: #4d90fe;
	width: 150px;
	border: 1px solid #3079ed;
	cursor: pointer;
}
.submitting{
	width: calc(43% + 25px);
	text-align: right;
}
input[type="submit"]:hover{
	background: rgba(30,70,237,.7);
}